<h1>Welcome  </h1>


<hr style =" border-width:4px; height:3px; background-color:cyan" ><br><br>
    <%# <%= @user.userName %>
	<h3> <b> Read the following Instructions carefully and follow them:</b> </h3><br>
	<ul>
	<h4>
		<li> This is an MCQ online exam.<br></li><br>
	<li>  The candidate must sign_up before starting the exam.<br></li><br>
    <li>  Then candidate need to face three sections of questions.<br></li>
	    <ol>
	    <li>  General Knowledge<br></li>
	    <li>  Aptitude<br></li>
	    <li>  Reasoning<br></li>
		</ol><br>
	<li> Candidates can attempt in any order, there is no section cut-off.</li><br>
	<li> After completion of exam, don't forgot to submit.</li><br><br>
     </h4>
     </ul>


	 <div align="center">
	<h5>All the best, Do well</h5>

<a class="btn btn-primary"  href="/sign_up">Click here to Sign up</a>
<%# <%= image_tag "deve1.png" class="image-fluid" %>
     </div>

