	<%= render partial: "shared/navbar" %>

<h3> Use Your presence of mind, that's enough</h3>
<%# <ol>
	<li> <h5>   7,15,31,63,?</h5>
	<input type=radio name="any" value="600">
	<label for="600">125</label><br>
	<input type=radio name="any" value="1500">
	<label for="600">97</label><br>
	<input type=radio name="any" value="1200">
	<label for="600">127</label><br>

	</li>
</ol> %>
<b> Q) 7,15,31,63,?</b><br>
<b>1. </b> 125<br>
<b>2. </b> 97<br>
<b>3. </b> 127<br>

<%= render partial: "shared/chooseAns" %>
<div align="center">
<a class="btn btn-primary"  href="/">Submit & Finish</a>
</div>
